MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/pantry
OPEN_ROUTER_KEY=sk-or-...
TAVILY_API_KEY=tvly-...
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your-gmail-app-password
FROM_EMAIL=your@gmail.com
