MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net/pantry
OPEN_ROUTER_KEY=sk-or-...
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
TAVILY_API_KEY=tvly-...
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=your@email.com
EMAIL_PASS=your-app-password
