fastapi
uvicorn
python-dotenv
pymongo
requests
langgraph
langchain-core
langchain-groq
langchain-openai
google-auth
google
tzdata
apscheduler
email-validator
rapidfuzz
tavily-python
pytest
httpx
pytest-mock